body{
    background-color: #0c0c0c;
}

h1{
    
    font-family: "Montserrat",sans-serif;                                           
    color: white;
   
}
p{
    font-family: 'Calling Font', sans-serif;
                                            
    color: white;
}